<p class="text-center footer text-muted">
  &copy; Copyright <span id="current-year"></span> Sentack
</p>

<script>
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
