<meta charset="UTF-8">
<title>Chatbot</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">



<style>
.navbar {
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body {
	background-color: #edeff2;
	background-color: #f2f2f2;
	margin: 0;
	margin-top: 2%;
	padding: 0;
}


.chat-container {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
}

.chat-log {
  padding: 20px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
}

.user-message {
  justify-content: flex-end;
  margin-left: auto;
  max-width: 50%;
}

.user-message .message-content{
	background-color: #e6f2ff;
	padding: 3%;
	margin-right: 3%;
	border-radius: 5%;
}

.bot-message {
  justify-content: flex-start;
  margin-right: auto; 
  max-width: 50%;
}

.bot-message .message-content{
  background-color: #f2f2f2;
  padding: 3%;
  margin-left: 3%;
  border-radius: 5%;
}

.avatar {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ccc;
  flex-shrink: 0; /* Prevents the avatar from shrinking */
}


.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  bottom: 0;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.chat-input input[type="submit"] {
  padding: 5px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.about-section{
  margin: 20px auto;
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3%;
}

.about-section .title{
	border-bottom: 1px solid gray;
	padding-left: 5%;
}

.about-section .text{
	padding: 2%;
	text-align: justify;
}

.footer{
  border-top: 1px solid gray;
}

</style>